
Builds/
_VilainCraft/Library/
_VilainCraft/.vs/
_VilainCraft/.vscode/
_VilainCraft/Logs/
_VilainCraft/obj/
_VilainCraft/Temp/
_VilainCraft/Builds/
_VilainCraft/UserSettings/

*.csproj
*.sln


